<mat-toolbar color="primary" class="navbar">
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigate('login')">
        <mat-icon>vpn_key</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item (click)="navigate('solicitud')" [disabled]="isDisabled">
        <mat-icon>queue_play_next</mat-icon>
        <span>Solicitar Cr&eacute;dito</span>
      </button>
      <button mat-menu-item [disabled]="isDisabled" (click)="navigate('validar')">
        <mat-icon>find_replace</mat-icon>
        <span>Validar Cr&eacute;dito</span>
      </button>
      <button mat-menu-item [disabled]="isDisabled" (click)="navigate('dactiloscopia')">
        <mat-icon>fingerprint</mat-icon>
        <span>Validacion dactilosc&oacute;pica</span>
      </button>
      <button mat-menu-item [disabled]="isDisabled" (click)="navigate('referencias')">
        <mat-icon>phone_in_talk</mat-icon>
        <span>Verificar Referencias</span>
      </button>
      <button mat-menu-item (click)="navigate('encuesta')">
        <mat-icon>poll</mat-icon>
        <span>Encuesta de Satisfacci&oacute;n</span>
      </button>
      <button mat-menu-item (click)="navigate('login')" [disabled]="isDisabled">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
  <div>Banco de Procesos</div>
</mat-toolbar>
<router-outlet></router-outlet>
