/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-caption {
  display: inline-block;
  padding-left: 6px;
}

.button-section {
  text-align: right;
}

.style-text {
  width: 20%;
  padding: 5px 20px;
}

.style-text2 {
  width: 80%;
  padding: 5px 20px;
}

.number-input {
  text-align: right;
}

.fondo {
  background-color: lightgray;
}

.color-data {
  color: #73879C
}

.head-table {
  color: #2b7f70;
}

.table1 {
  width: 100%;
  border: 1px solid #473e8c;
}

.example-card {
  width: 80%;
}

.style-text-add-user {
  width: 50%;
  padding: 0 40px;
}
